
.section-six{
    background-color: rgb(243, 252, 252);
    padding: 50px;
    
}
.section-six-wrapper{
    display: flex;
    justify-content: space-evenly;
   
}
.section-six-text{
    text-align: center;
    font-size: larger;
}
.section-six-wrapper ul{
    list-style-type: none;
}
.section-six h1{
    font-size: x-large;
    padding-left: 200px;
}
.section-six-input input{
    width: 150px;
    height: 30px;
    text-align: center;
    font-weight: 300;
    
}
.section-six-input{
padding-left: 200px;
}
.partners{
    display: flex;
    justify-content: space-evenly;
    padding: 30px,50px,50px,50px;

}
.section-seven-wrapper{
    display: flex;
    justify-content: center;
    padding: 100px;
}
.section-seven-img img{
width: 400px;
height: 400px;
}
.section-seven-header{
    font-size: xx-large;
    font-weight: 300px;
}
.section-seven-left{
    padding-top: 50px;
    padding-right: 100px;
    width: 350px;
}
.section-seven-ptag{
    width: 350px;
    margin-top: 150;
    font-size: larger;
    
}
.section-seven-input{
    display: flex;
    justify-content: space-between;
}
.input1 input{
    background-color: black;
    color: white;
    width: 150px;
    height: 40px;
    text-align: center;
    font-weight: 300;
}
.section-seven-left img{
    width: 160px;
    height: 40px;
}
.input2 input{
    width: 150px;
    height: 40px;
    text-align: center;
    font-weight: 300; 
}

.section-eight-wrapper{
    display: flex;
    justify-content: center;
    padding: 100px;
}
.section-eight-ptag{
    width: 350px;
    margin-top: 150;
    font-size: larger;
    
}
.section-eight-text{
    padding-top: 150px;
    padding-left: 100px;
}
.section-eight-header{
    font-size: xx-large;
}
.section-eight-text input{
    background-color: black;
    color: white;
    width: 150px;
    height: 40px;
    text-align: center;
}

.section-nine{
    background-color: rgb(24, 23, 23);
    padding: 15px;

}
.section-nine-wrapper{
    display: flex;
    justify-content: left, space-between;
    color: white;
    line-height: 30px;
}
.Ul-list1{
    list-style-type: none;
    padding-left: 50px;
}
.Ul-list2{
    list-style-type: none;
    padding-left: 350px;
}
.Ul-list3{
    list-style-type: none;
    padding-left: 350px;
}
.english{
    padding-left: 1400px;
    color: white;

}
.copyright{
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 30px;
}
